@font-face {
  font-family: 'iconfont';  /* project id 1704840 */
  src: url('https://at.alicdn.com/t/font_1704840_7afl6kxbtph.eot');
  src: url('https://at.alicdn.com/t/font_1704840_7afl6kxbtph.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_1704840_7afl6kxbtph.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_1704840_7afl6kxbtph.woff') format('woff'),
  url('https://at.alicdn.com/t/font_1704840_7afl6kxbtph.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_1704840_7afl6kxbtph.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bangdan:before {
  content: "\e600";
}

.icon-lianxi:before {
  content: "\e610";
}

.icon-tuijian:before {
  content: "\e61b";
}

.icon-shudian:before {
  content: "\e689";
}

.icon-ziyuan:before {
  content: "\e659";
}

